/* GENERAL STYLING */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/* CONTAINER STYLING */
.row {
  border-top: 1px solid white;
}
.time-block {
  border-radius: 15px;
}

/* HOUR COLUMN */
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}
  
/* TEXT AREAS */
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}
  
.description {
   white-space: pre-wrap;
}
  
/* COLORS FOR TIME BLOCKS */
.past {
  background-color: #62c0bb6d;
  color: black;
}
  
.present {
  background-color: #62c0bb;
  color: black;
}
  
.future {
  background-color: #478d8a;
  color: black;
}

/* BUTTONS */
button:active {
  transform: translateX(-10px);
  transition: 100ms;
}

button:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.click-save {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #40ab69;
  color: white;
}

.click-delete {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #dc5245;
  color: white;
}